body, html {
  height: 100%;
}

.bg{
  background-image: url(https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: aqua;
  font-family:cursive;
  vertical-align: middle;
  margin: auto;
width: 0%;
padding: 5px;
}
p{
  color: aqua;
  font-family: sans-serif;
  vertical-align: middle;
  margin: auto;
width: 90%;
padding: 5px;
}
form{
  color:aqua;
  font-family: sans-serif;
  vertical-align: middle;
  margin: auto;
  width: 95%;
  padding: 5px;
}